@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Coding Challenge 2

   Author: Allan Niles
   Date:   8/27/2024
   Filename: code2-2.css

*/

h1 {
	text-align: center;
	font-family: Impact, sans-serif;
	font-size: 3em;
}

nav > h1 {
	font-size: 1.2em;
	color: white;
	background-color: black;
	text-align: center;
}

article > h1 {
	font-size: 2em;
	font-family: cursive;
}

nav ul {
	line-height: 2em;
	list-style-type: none;
}

a:hover {text-decoration: underline;}
	a {
		color: ivory;
		text-decoration: none;
	}